#captchaWindow {
  font-size: 16px !important;
}

#captchaWindow .btn {
  font-size: 14px !important;
}

#captchaWindow .etabs-views {
  width: 100%;
  border: none;
}

#captchaWindow .etabs-view {
  width: 100%;
  background: $dark1Colour !important;
  background-color: $dark1Colour !important;
}

#captchaWindow .etabs-view.visible {
  background: $dark2Colour !important;
  background-color: $dark2Colour !important;
}

#captchaWindow .etabs-tab {
  height: 100%;
  font-weight: bold;
  background: $dark1Colour !important;
  border: none;
  color: white;
}

#captchaWindow .etabs-tab.active {
  background: $dark2Colour !important;
}

#captchaWindow .etabs-tab-buttons .etabs-tab-button-close {
  color: $red;
}

#captchaWindow .etabs-tabgroup {
  height: auto !important;
  background: $dark1Colour;
}

#captchaWindow .etabs-buttons button {
  color: $mainColour;
  font-weight: bold !important;
}
