#captchaWindow {
  font-size: 16px !important;
}

#captchaWindow .btn {
  font-size: 14px !important;
}

#captchaWindow .etabs-views {
  width: 100%;
  border: none;
  height: 90%;
}

#captchaWindow .etabs-view {
  @include themify($themes) {
    background: themed('dark1Colour') !important;
    background-color: themed('dark1Colour') !important;
    width: 100%;
  }
}

#captchaWindow .etabs-view.visible {
  @include themify($themes) {
    background: themed('dark2Colour') !important;
    background-color: themed('dark2Colour') !important;
  }
}

#captchaWindow .etabs-tab {
  @include themify($themes) {
    background: themed('dark1Colour') !important;
    height: 100%;
    font-weight: bold;
    border: none;
    color: themed('textColour') !important;
  }
}

#captchaWindow .etabs-tab.active {
  @include themify($themes) {
    background: themed('dark2Colour') !important;
  }
}

#captchaWindow .etabs-tab-buttons .etabs-tab-button-close {
  @include themify($themes) {
    color: themed('red');
  }
}

#captchaWindow .etabs-tabgroup {
  @include themify($themes) {
    background: themed('dark1Colour');
    height: auto !important;
  }
}

#captchaWindow .etabs-buttons button {
  @include themify($themes) {
    color: themed('mainColour');
    font-weight: bold !important;
  }
}
