$themes: (
  Neutrino: (
    mainColour: #2b4df7,
    mainColourDarker1: #2441ce,
    mainColourDarker2: #1930a5,
    dark1Colour: #222,
    dark2Colour: #2d2d2d,
    textColour: #fff,
    red: red
  ),
  SSX: (
    mainColour: #fe4922,
    mainColourDarker1: #fe4922,
    mainColourDarker2: #fe4922,
    dark1Colour: #000,
    dark2Colour: rgb(20, 20, 20),
    textColour: #fff,
    red: red
  ),
  SoleSociety: (
    mainColour: #7252ff,
    mainColourDarker1: #7252ff,
    mainColourDarker2: #7252ff,
    dark1Colour: #000,
    dark2Colour: rgb(20, 20, 20),
    textColour: #fff,
    red: #fe4922
  ),
  Noctua: (
    mainColour: #6375b5,
    mainColourDarker1: #6375b5,
    mainColourDarker2: #6375b5,
    dark1Colour: #000,
    dark2Colour: rgb(20, 20, 20),
    textColour: #fff,
    red: #fe4922
  )
);

// $mainColour: #2b4df7;
// $mainColourDarker1: #2441ce;
// $mainColourDarker2: #1930a5;
// $dark1Colour: #222;
// $dark2Colour: #2d2d2d;
// themed('textColour'): #fff;
// $red: red;
