#footer {
  @include themify($themes) {
    min-height: 50px;
    background-color: themed('dark2Colour');
    margin-top: 10px;
    padding: 10px;
  }
}

.footerIcon {
  cursor: pointer;
}

.footerIcon span:hover {
  @include themify($themes) {
    color: themed('mainColour') !important;
    transition: 0.3s;
  }
}
.footerText {
  font-size: 0.8rem;
}

.footerIcon:focus {
  outline: 0;
}

.blinking {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
