.raffleRow {
  @include themify($themes) {
    background-color: themed('dark1Colour');
    padding: 20px;
  }
}

.raffleRow:hover {
  @include themify($themes) {
    background-color: themed('mainColourDarker1');
  }
}

.raffleRow:active {
  @include themify($themes) {
    background-color: themed('mainColourDarker2');
  }
}
