.proxyIcon {
  padding: 10px 5px 10px 5px;
  @include themify($themes) {
    color: themed('textColour') !important;
    width: 100%;
    transition: 0.3s;
    word-break: break-word;
  }
}

.proxyIcon img {
  pointer-events: none;
}

.proxyIconActive {
  @include themify($themes) {
    background-color: themed('mainColour');
  }
}

.proxyIcon:hover {
  @include themify($themes) {
    background-color: themed('mainColour');
    cursor: pointer;
  }
}

.proxyIcon h5 {
  font-weight: bold !important;
  font-size: 0.7rem !important;
}
