.progress {
  border-radius: 0 !important;
  @include themify($themes) {
    background-color: themed('dark1Colour');
  }
}

.progress-bar {
  @include themify($themes) {
    background-color: themed('mainColour');
  }
}
