#TableContainer {
  overflow-wrap: break-word;
}

#TableContainer > div,
#TableContainer > div > div {
  height: 100% !important;
  overflow: visible !important;
}

.table {
  color: white !important;
}

.td,
.th,
.tr {
  width: 100% !important;
}

#TableContainer > div > div > div:nth-child(2) {
  height: calc(100% - 50px) !important;
}

#TableContainer > div > div > div:nth-child(2) > div {
  width: 100% !important;
}

.neutrinoModal .modal-content {
  background-color: $dark1Colour;
}

.neutrinoModal button[aria-label='Close'] {
  color: $red;
  text-shadow: none;
}

#loadingModal .modal-content,
#infoModal .modal-content {
  background-color: $dark1Colour;
}

.modal-header,
.modal-footer {
  border: none;
}

#loadingModal button[aria-label='Close'],
#infoModal button[aria-label='Close'] {
  color: $red;
  text-shadow: none;
}
