#TableContainer > div,
#TableContainer > div > div {
  height: 100% !important;
  overflow: visible !important;
}

#TableContainer > div > div > div:nth-child(2) {
  height: calc(100% - 50px) !important;
}

.neutrinoModal .modal-content {
  background-color: $dark1Colour;
}

.neutrinoModal button[aria-label='Close'] {
  color: $red;
  text-shadow: none;
}

#loadingModal .modal-content {
  background-color: $dark1Colour;
}

#loadingModal button[aria-label='Close'] {
  color: $red;
  text-shadow: none;
}
