#sidebar {
  @include themify($themes) {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5),
      inset 0 1px 0 0 rgba(0, 0, 0, 0.5);
    background-color: themed('dark2Colour');
    overflow-y: scroll;
    padding: 0;
    text-decoration: none !important;
    height: 100%;
    transition: all 200ms ease;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebarIcon,
.sidebarIcon span {
  @include themify($themes) {
    color: themed('textColour') !important;
    transition: 0.3s;
  }
}

.sidebarIconActive span {
  @include themify($themes) {
    color: themed('mainColour');
  }
}

.sidebarIconActive:hover span {
  @include themify($themes) {
    color: themed('textColour') !important;
    text-decoration: none;
  }
}

#sidebar span {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 1s;
}

#content {
  @include themify($themes) {
    margin: 0 10px 0 10px;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5),
    //   inset 0 1px 0px 0 rgba(0, 0, 0, 0.5);
    background-color: themed('dark2Colour');
    overflow-y: hidden;
    height: 100%;
  }
}

#content > .row {
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 0.5s;
}

.sidebarIcon {
  padding: 1.2rem;
}

.sidebarIcon:hover {
  @include themify($themes) {
    background-color: themed('mainColour');
    text-decoration: none;
  }
}

.sidebarIconLabel {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 20px;
}

.sidebarIconActive {
  @include themify($themes) {
    background-color: themed('mainColour');
  }
}

.sidebarIconActive .sidebarIconLabel {
  @include themify($themes) {
    color: themed('textColour') !important;
  }
}
